[submodule "backend"]
	path = backend
	url = https://github.com/shawn-phy/EmswithGraph.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/shawn-phy/FrontendEMSwithgraph
[submodule "mobile_app"]
	path = mobile_app
	url = https://github.com/shawn-phy/flutter_dev_learning
